*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
    background: url(dg2.jpg);
    background-size: cover;
}

nav{
    height: 80px;
    width: 100%;
    background: #000000;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 73, 0);
    padding: 0 50px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: rgb(0, 73, 0);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a,a:hover{
    border: 1px solid rgb(0, 130, 0);
    transition: .5s;
}

section{
    background: url(dg1.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
}